
 body{
   background-color: #EEF0F1;
 }

 h2{
    font-size: 30px;
    color: #3a3a3a;
    text-align: right;
    padding: 3% 2% 0% 0%;
 }

 p{
    color: #344a60;
    text-align: right;
    padding: 0 2%; 
 }

 .formCatalogue{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
    float: right;
    padding: 4% 2%;
    justify-content: flex-end;
    width: 100%;
    gap:2%
 }

 .formCatalogue div{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 30%;
 }

 input{
   width: 100%;
 }

 form .registerBtn{
   background: #FD7702;
    height: 50px;
    border-radius: 9px;
    padding: 2% 5%;
    transition: .2s ease-in-out;
    left:0;
    width: 40%;
    color:white
 }

 form .registerBtn:hover{
   transform: scale(1.1);
   background-color: #FD7702;
   cursor: pointer;
 }

 .cards{
    margin-top: 0%;
    display: flex;
    justify-content: space-around;
    padding: 2% 0 2% 0%;
    flex-wrap: wrap;
    padding:2%
 }

 .cardone{
    height: 100%;
    width: 20%;
    padding: 2%;
    border-radius: 20px;
    text-align: right;
    box-shadow: 0 0.75218px 35px #00000017;
    margin:1%;
    background-color: white;
    transition:.3s ease-in-out
 }

 .cardone:hover{
   transform: scale(1.1);
   cursor: pointer;
 }

 .cardone a{
    text-align: center;
    display: block;
    color: rgba(0, 136, 169, 1);
 }

 .register{
   display: none;
   background: #F3F8FA;
   width: 85%;
   margin: auto;
   padding: 5%;
   align-items: center;
   border-radius: 20px;
   box-shadow: 35px 2px 130.83px 0.17px rgb(0 0 0 / 20%);
   justify-content: space-around;
   margin-top: 5%;
   transition: .3s ease-in-out;
}

.register form{
   width: 60%;
}

.register input{
   width: 100%;
   display: block;
   border: none;
   border-bottom: 1px solid #999;
   font-family: Poppins;
   box-sizing: border-box;   
}

.register textarea{
   width: 100%;
   display: block;
   border-bottom: 1px solid #999;
   font-family: Poppins;
   box-sizing: border-box;   
}

.register input.form-submit{
   background: #FD7702;
   width: 40%;
   text-align: center;
   display: block;
   margin: auto;
   color: white;
   margin-top: 4%;
}

input:focus{
   color:black
}

form h2{
   text-align: center;
   color: #454545;
   font-size: 33px;
}

form button:hover{
   color:black
}

 @media screen and (max-width:860px){
    h2{
      font-size: 20px;
    }   

    p{
      font-size: 14px;
    }

    .cardone{
      width:45%
    }

    button{
      font-size: 12px;
    }

    .register{
      flex-direction: column;
   }
  
   form h2{
      font-size: 25px;
      padding-top: 20px;
   }
  
   form input{
      font-size: 14px;
   }

   form .registerBtn {
      background: #FD7702;
      height: 50px;
      border-radius: 9px;
      padding: 5% 5%;
      transition: .2s ease-in-out;
      left: 0;
      width: 106%;
      color: white;
  }
  
   button{
      font-size: 14px;
      display: block;
      left: 0;
      margin: auto;
      margin-top: 8%;
   }
   
 }

 @media screen and (min-width: 861px) and (max-width: 1140px) {
   .cardone{
      width:30%
    }

    form .registerBtn {
      background: #34A9DA;
      height: 50px;
      border-radius: 9px;
      padding: 3% 5%;
      transition: .2s ease-in-out;
      left: 0;
      width: 47%;
      color: white;
  }
 }